<p id="notice"><%= notice %></p>

<p>
  <strong>Autor:</strong>
  <%= @basic_publication.profile.name %>
</p>

<p>
  <strong>Título:</strong>
  <%= @basic_publication.title %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @basic_publication.year %>
</p>

<p>
  <strong>País:</strong>
  <%= @basic_publication.country %>
</p>

<p>
  <strong>Idioma:</strong>
  <%= @basic_publication.language %>
</p>

<p>
  <strong>Página web:</strong>
  <%= @basic_publication.webpage %>
</p>

<p>
  <strong>Título em inglês:</strong>
  <%= @basic_publication.english_title %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @basic_publication.publication_type %>
</p>

<%= link_to 'Editar', edit_basic_publication_path(@basic_publication) %> |
<%= link_to 'Voltar', profile_path(@basic_publication.profile) %>
