<h1>Listing eventos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Ano</th>
      <th>Nome evento</th>
      <th>Editora</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.titulo %></td>
        <td><%= evento.ano %></td>	
        <td><%= evento.nome_evento %></td>
        <td><%= evento.editora.nome %></td>
        <td><%= evento.user.profile.citation_name %></td>
        <td><%= link_to 'Show', evento %></td>
        <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento', new_evento_path %>
